*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Slider{
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: beige;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    overflow-x: hidden;
    width: 100%;
}

.Parent{
    position: static;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    gap: 1rem;
    overflow-x: hidden;
}