*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body{
    background: url("/public/assets/8zqeXx.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Bebas Neue';
    background-size: cover;
}
.Parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    gap: 2rem;
}
html{
    scroll-behavior: smooth;
}
.Headings{
    margin-top: 10%;
    display: flex;
    
    justify-content: center;
}
.container{
    color: #fff;
    height: 100%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* overflow: hidden; */
    /* flex-direction: row; */
    align-items: center;
    gap: 1rem;
    /* margin: 0 auto; */
    margin-top: 5%;
    /* margin-bottom: 8%; */
    /* position: relative; */
}
.border{
    height:369px;
    width:290px;
    background:transparent;
    border-radius:10px;
    transition: border ls;
    position:relative;
    /* border-radius: 50%; */
}
.border:hover{
    border: 1px solid #fff;
}
.card{
    /* height:53%;
    width:25%; */
    background:#808080;
    border-radius: 1rem;
    transition: background 0.8s;
    overflow: hidden;
    background:#000;
    box-shadow: 0 70px 63px -60px #000;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    position:relative;
    /* border-radius: 2rem; */
}
.card1 {
    background: url("/public/assets/react3.jpg") center center no-repeat;
    /* background-size: 300px; */
    /* background-position: 100% 100%; */
}
.card:hover{
    background: url("/public/assets/react2.jpg") left center no-repeat;
    background-size: 600px;
    cursor: pointer;
}
.card1:hover h2 {
    opacity: 1;
}
.card:hover .fa{
    opacity: 1;
}
h2{
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity ls;
}
.fa{
    opacity:0;
    transition: opacity ls;
}
.icons{
    position:absolute;
    fill: #fff;
    color: #fff;
    height:130px;
    top:226px;
    width:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Intro{
    margin-top: 2%;
    float: left;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /* position: fixed; */
    /* gap: 1rem; */
    /* border: 5px solid white; */
    border-radius: 8rem;
    padding: 0.5rem;
    color: #fff;
    margin-bottom: 2%;
    font-size: 1.5rem;
}
.About{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture{
    /* width: 50%; */
    display: flex;
    border-radius: 40%;
    border: 3px solid white;

    
}

.picture img{
    height: 300px;
    width: 100%;
    /* border: 2px solid white; */
}
.Name{
    margin-top: 8%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #000; */
    
   
}
#textcolor{
    color: white;
    /* border: 5px solid white; */
    /* border-radius: 5%; */
}
.Slider{
    display: flex;
    justify-content: center;
    padding: 1rem;
    color: #fff;
    /* align-items: center; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.text{
    display: flex;
    margin-top: 5%;
    padding: 1rem;
    justify-content: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

