.picture img{
    height: 15.635rem;
    width: 15.625rem;
    border-radius: 50rem;
    /* border: 2px solid rgb(252, 237, 237); */
}
.Intro{
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    /* height: 50vh; */
    margin-top: 10%;
    /* border: 2px solid rgb(252, 237, 237); */
    gap:2rem;

    flex-wrap: wrap-reverse;
    /* border-bottom: 2px solid white; */
}
.effect{
    display: flex;
    border-radius: 5px;
    box-shadow: 0px 1px 20px 11px rgba(128, 128, 128, 0.5);
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 70vw;
    margin-top: -7%;
}
.About{
    width: 50vw;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    /* border: 2px solid rgb(252, 237, 237); */
}
@media(max-width:550px){
    .About{
        font-size: 1rem;
    }
    .Intro{
        gap:3rem;
        margin-top: 2%;
    }
}