.picture img{
    height: 15.635rem;
    width: 15.625rem;
    border-radius: 50rem;
    /* border: 2px solid rgb(252, 237, 237); */
}
.Intro{
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    height: 50vh;
    margin-top: 10vh;
    /* border: 2px solid rgb(252, 237, 237); */
    gap:2vw;
    flex-wrap: wrap-reverse;
    /* border-bottom: 2px solid white; */
}
.About{
    width: 50vw;
    font-size: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    /* border: 2px solid rgb(252, 237, 237); */
}