.container{
    /* color: #fff;
    height: 100%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    align-items: center;
    gap: 1rem;
   
    margin-top: 5%;
   
    position: relative; */
    width: 80%;
    margin: 10%;
    height: 40vh;
    overflow-x: scroll !important;
    overflow-y: hidden;
    background-color: #1c2A44;
    padding: 2.0%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 #00FFFF,0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */

}
.img-container{
    display: flex;
    flex-direction: row;
    /* width: 100vw; */
    /* overflow-y: hidden; */
}
img{
    display: flex;
    width: 25vw;
    height: 35vh;
    box-shadow: 0px 0px 15px black;
    margin-right: 2%;
    margin-left: 2%;
}
.swiper {
    width: 40%;
    height: 40%;
    padding: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  